body{
	font-size: 16px;
}
@media (min-width: 576px){
li{
	display: none;
}
}
li{
	color: maroon !important;
	border-bottom: 2px solid maroon;
	margin-right: 0;
	margin-left: 0;

}
.navbar-brand{
	font-size: 2em;
}
div.col-xl-12{
	background-color: maroon;
	color: white;
}
h2{
	margin-top: 15px;
	margin-bottom: 15px;
}
div.row{
	margin-right: 5%;
	margin-left: 5%;
}
nav{
	border-bottom:3px solid maroon;
	border-top:3px solid maroon;
}
button.navbar-toggler{
	color: green !important;
}